<a href="https://colab.research.google.com/github/snehdeswal1105/omic-data-science/blob/main/class2_ods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=input('enter a number:')

enter a number:12

In [2]:
type(num)

str

In [3]:
int(num)

12

In [4]:
float(num)

12.0

In [5]:
round(12.8)

13

In [6]:
type(int(num))

int

In [8]:
num=float(input('enter a number:'))

enter a number:24

In [10]:
[*range(1,100,1)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [13]:
print([*range(1,100,1)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [15]:
num=int(input('enter a number:'))
if num in[*range(1,100,1)]:
    print('great:)')
else:
    print('sorry, try again:(')

enter a number:24
great:)

In [16]:
#marks obtained by students of a class[98,20,17,80,80,23]
#[0-40]-F
#[41-50]-E
#[51-60]-D
#[61-70]-c
#[71-80]-B
#[81-100]-A

In [34]:
marks=[98,20,17,80,80,23]
for i in marks:
  if (i>0) and (i<=40):
    print('F')
  elif (i>40) and (i<=50):
      print('E')
  elif (i>50) and (i<=60):
       print('D')
  elif (i>60) and (i<=70):
       print('C')
  elif (i>70) and (i<=80):
        print('B')
  else:
        print('A')

A
F
F
B
B
F

In [ ]:
def Marks_to_grade(marks):
 grade= ''
 if (i>0) and (i<=40):
    grade='F'
 elif (i>40) and (i<=50):
      grade='E'
 elif (i>50) and (i<=60):
       grade='D'
 elif (i>60) and (i<=70):
       grade='C'
 elif (i>70) and (i<=80):
        grade='B'
 else:
        grade='A'
 return grade

In [ ]:
for i in marks:
  input('enter your marks: ')
  print('Marks_to_grade(i)')

Marks_to_grade(i)
Marks_to_grade(i)

In [ ]:
def Num_odd_or_even():
num=input(float('enter any number:'))
if (num%2==0):
  print('even')
else:
  print('odd')
except:
  print('0 is neither odd nor even')
return

In [ ]:
Num_odd_or_even()

In [ ]:
def Nature_of_number():
  num=input(float('enter any number:'))
  if (num>0):
    print('positive')
  elif (num<0):
    print('negative')
  else:
    print('zero')
  return

In [ ]:
Nature_of_number()

In [ ]:
def Divisiblity_by_2_3()
num=input(float('enter any number:'))
if (num%2==0) and (num%3==0):
  print('divisible by 2 and 3')
elif (num%2==0):
  print('divisible by 2')
elif (num%3==0):
  print('divisible by 3')
else:
  print('not divisible')
return

In [ ]:
Divisiblity_by_2_3()

In [ ]:
def Largest_of_three_numbers()
num1=input(int(enter any number:))
num2=input(int(enter any number:))
num3=input(int(enter any number:))
if (num1>num2) and (num1>num3):
  print(num1 is largest)
elif (num2>num1) and (num2>num3):
  print(num2 is largest)
else:
  print(num3 is largest)
return

In [ ]:
Largest_of_three_numbers()

In [ ]:
#large number
ls=[12,9,3]
big=0
for i in ls
if big>i:
  big=big
else:
  big=i
  print('big')

In [ ]:
big

In [ ]:
#small number
ls=[12,34,0,-8,56,84]
small=999999999
for i in ls:
  if small<i:
    small=small
  else:
    small=i
print('small')

In [ ]:
small

In [ ]:
# make function for ascending and descending number.

In [ ]:
biopython

In [ ]:
from Bio import Entrez, SeqIO

# Set your email (required by NCBI)
Entrez.email = "your_email@example.com"  # Replace with your email

def fetch_fasta(gene_name, organism="Homo sapiens"):
    """Fetches the FASTA sequence of a gene from NCBI given the gene name and organism."""
    try:
        # Step 1: Search the gene in NCBI Nucleotide database
        search_handle = Entrez.esearch(db="nucleotide", term=f"{gene_name}[Gene] AND {organism}[Organism]", retmax=1)
        search_results = Entrez.read(search_handle)
        search_handle.close()

        if not search_results["IdList"]:
            print(f"No sequence found for gene '{gene_name}' in {organism}.")
            return

        # Step 2: Fetch the record
        nucleotide_id = search_results["IdList"][0]
        fetch_handle = Entrez.efetch(db="nucleotide", id=nucleotide_id, rettype="fasta", retmode="text")
        fasta_record = fetch_handle.read()
        fetch_handle.close()

        # Output FASTA
        print(fasta_record)
    except Exception as e:
        print("Error:", e)

In [ ]:
fetch_fasts("BRCA1")